.pos-layout {
  display: flex;
  height: 100vh;
  width: 100vw;
  background: var(--bg-app);
  overflow: hidden;
}

.pos-main {
  flex: 1; /* Takes exactly left 75% */
  display: flex;
  flex-direction: column;
  position: relative;
  overflow: hidden;
}

.pos-content {
  flex: 1;
  overflow-y: auto;
  padding: 16px;
}

.pos-content::-webkit-scrollbar {
  width: 6px;
}

.pos-content::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 10px;
}
